/* you're probably wondering what went wrong with that product details page?
I probably spent the last 4 days coding nonstop and like the syllabus says,
I'm putting my well being first. :(

Why didn't I ask piazza more?
The process is so formalized that I feel the need to spend 3-4 hrs debugging first before I ask.
By the time I hit hour 3, I've debugged something (usually).
so sorry to disappoint, this is not my best work, but I'll see you in oh!!
*/

/*https://www.w3schools.com/css/css_navbar.asp */
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E8F2FF;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    align-content: center;
}

.miniNav {
    padding-left: 100px;
    display: inline;
    text-decoration: none;
    list-style-type: none;
}

h1, p, h2,
h3 {
    font-family: Helvetica, Arial, sans-serif;
    color: #4A4A4A;
}

p {
    font-size: 15px;
    font-style: italic;
}

#logo{
    padding-left: 20px;
 }

#shop,
#tracker,
#cart {
    float: right;
    padding-right: 75px;
}

#cart{
    padding-right:125px;
}

/*https://www.w3schools.com/css/css_navbar.asp */
li a{
    float:left;
    display: block;
    color: #4A4A4A;
    /* top right bottom left*/
    padding: 15px 0px 0px 20px;
    text-decoration: none;
}

.carousel,
.buns {
    text-align: center;
}

#carouselPic {
    padding: 50px 0px 25px 0px;
}

/* https://www.w3schools.com/howto/howto_css_circles.asp
https://www.w3schools.com/howto/howto_js_slideshow.asp
*/

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}

.circle{
    height: 200px;
    width: 200px;
    background-color: #D8D8D8;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}

.title{
    display: grid;
    grid-template-columns: minmax(300px, 400px);

}
.popular,
.buns,
.items{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 70px;
    margin-top: 50px;
    justify-items: center;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    grid-auto-flow: row;
    padding-bottom: 0px;
    text-align:center;
    text-decoration: none;
}

#popularTitle,
.title,
.miniNav{
    padding-left: 120px;
    text-align: left;
}

.pDivider {
    display: inline-block;
    vertical-align: top;
}

.imageCircles {
    display: grid;
    grid-template-columns: 300px  300px;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    margin-top: 50px;
    grid-gap: 20px;
    grid-area: imageCircles;


}

/*https://www.w3schools.com/cssref/playit.asp?filename=playcss_box-shadow&preval=20px%2020px%2010px%20grey*/
.button {
    background-color: #D8D8D8;
    border-color: #979797;
    color: #4A4A4A;
    box-shadow: 0px 2px black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.description {
    grid-area: description;
    display: grid;
    grid-template-columns: 400px;

}


.productDetails {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 150px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
                        "header         header          header          header
                        .              imageCircles    description     .
                        footer          footer          footer          footer";
}

footer {
    padding: 30px;
}